n8n workflows/Document Processing Workflow.json
{
  "name": "RAG",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1TtSwHG6lyYh79ciGK2i7NXUqcbVPzJjq",
          "mode": "list",
          "cachedResultName": "faq (1).pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1TtSwHG6lyYh79ciGK2i7NXUqcbVPzJjq/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "908bf471-a705-4437-99a7-4d82da56c704",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Rlgv8ezqxfEnwHMK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "d2d3ae8e-8fac-481a-b82f-c941becbea2f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Rlgv8ezqxfEnwHMK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragproject",
          "mode": "list",
          "cachedResultName": "ragproject"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "3e0c0dd6-976f-4cfd-b4a8-1ef867947973",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "u76hmgjXJ8gY1XLC",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        336,
        192
      ],
      "id": "f8e41c2e-536d-4c8d-90b4-b07d4d9b8f85",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "F8IZSwj3dSSYU4ju",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "ragproject",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "3ee5c80f-1647-4625-95d8-86d2986facf0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        656,
        416
      ],
      "id": "dc15f0de-6676-48ac-a205-457a3fefffc1",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "571228a9-aa4d-492f-98d9-66001a99d202",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbc6012f2542d804691c2579b6dcf228e5feaa12912c25352a79afa3488021fe"
  },
  "id": "4Ibrl1ukBGen7fFX",
  "tags": []
}